* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* page area */

#page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
}

.hidden {
    visibility: hidden;
}

/* board area */

#game-board {
    width: 50vw;
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border: 1px solid black;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background: rgb(140, 211, 176);
    font-size: 3rem;
}

.active { transition-duration: 1s;
    transform: scale(1.1);
   
}

.active > .square {
    background: lightgreen;
}

.inactive {
    transition-duration: 1s;
    transform: scale(1);
}

.inactive > .square {
    background: rgb(140, 211, 176);
}

/* controls area */

#controls-area {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#player-info {
    font-size: 1.25rem;
    display: grid;
    row-gap: 2rem;
    column-gap: 2rem;
    grid-template-columns: repeat(4,1fr);
    margin-top: 3rem;
}

button {
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 6px;
    width: 15rem;
}

button:hover {
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 6px;
    width: 15rem;
    cursor: pointer;
    transform: scale(1.05);
    transition: all .07s ease;
    background: rgb(140, 211, 176);
    color: white;
}

#button-area {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

#restart-btn {
    background: black;
    color: white;
}

#restart-btn:hover {
    background: rgb(140, 211, 176);
    color: black;
}

#start-btn {
    grid-column-start: 2; 
    grid-column-end: 4; 
}

label, input {
    padding: 10px
}

input {
    font-size: 1rem;
}

/* winner area */

#winner-area {
    font-size: 3rem;
    transform: scale(1.05);
    transition: all 0.2s ease-in;
}
